<%= form_with model: @authors do |form| %>
    <div>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
      <% @authors.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :biography %><br>
      <%= form.text_area :biography %>
      <% @authors.errors.full_messages_for(:biography).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :country_of_birth %><br>
      <%= form.select :country_of_birth, ['Poland', 'Germany', 'France'], selected: 'Poland' %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>