<h1>Authors</h1>

<%= button_to "Search", authors_search_path %><br>

<table style="border-collapse: collapse; ">
  <% @authors.each do |author| %>
    <tr style="border-style: solid; border-width: 1px;">
      <td> <a href="<%= author_path(author) %>">
      <%= author.last_name %></a></td>
      <td>  |  </td>
      <td> <%= author.country_of_birth %></a></td>
      <% if current_user && current_user.admin %>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to 'Destroy', author_path(author),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<br>
<% if current_user && current_user.admin %>
<%= link_to "Add Author", new_author_path %><br>
<% end %>
<%= link_to "Back", menu_index_path %>