<%= form_with model: books do |form| %>
    <div>
      <%= form.label :image %><br>
      <%= form.file_field :image %>
    </div>
  
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% books.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :species %><br>
      <%= form.select :species, ['Horror', 'Fantastyka', 'Poradniki', 'Basnie', 'Bajki'], selected: 'Poradniki' %>
      <% books.errors.full_messages_for(:species).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :author_id, "Choose Author:" %><br>
      <%= form.collection_select :author_id, Author.all, :id, :last_name %>
    </div>
  
    <div>
        <%= form.label :release_date %><br>
        <%= form.date_select :release_date, start_year: 1900, end_year: Time.now.year %>
    </div>

    <div>
      <%= form.submit "Add" %>
    </div>
  <% end %>