<table>
  <tr>
    <td>
      <% if @books.image.attached? %>
      <%= image_tag @books.image, :style => "width: 240px; height: 300px" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <p>Title: <%= @books.title %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Species: <%= @books.species %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Author: <%= @books.author.last_name %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Release Date: <%= @books.release_date %></p>
    </td>
  </tr>
  <tr>
    <td>
      <% if @books.status == false %>
        <%= link_to "Rent Book", rental_path %>
        <p> Not Rented </p>
      <% else %> 
        <% if current_user.email == @books.user.email %>
          <%= link_to "Give Back", unrental_path %>
        <% end %>
        <p> Rented by: <%= @books.user.email %> </p>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <% if current_user && current_user.admin %>
      <ul>
        <li><%= link_to 'Edit', edit_book_path(@books) %></li>
        <li><%= link_to 'Destroy', book_path(@books),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
    </td>
  </tr>
</table>

<h2>Comments</h2>
<% @books.comments.each do |comment| %>
  <p>
    <strong>Username:</strong>
    <%= comment.name %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= comment.rate %>☆/10☆
  </p>
  <% if current_user && current_user.admin %>
    <%= link_to 'Destroy', comment_path(book_id: @books, id:comment.id ),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

  <h2>Add a comment:</h2>
  <%= render "form2", books: @books %><br>

  <%= link_to "Back", books_path %><br>
<% if current_user && current_user.admin %>
  <%= link_to "All Rented Books", menu_users_book_path %>
<% end %>