<h1>
  Photo: <br>
    <% if @books.image.attached? %>
      <%= image_tag @books.image, :style => "width: 240px; height: 300px;" %>
    <% end %>
</h1>

<p>Tytuł: <%= @books.title %></p>

<p>Gatunek: <%= @books.species %></p>

<p>Autor: <%= @books.author %></p>

<ul>
    <li><%= link_to 'Edit', edit_book_path(@books) %></li>
    <li><%= link_to 'Destroy', books_path(@books),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></li>
</ul>

<%= link_to "Powrot", books_path %>